{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% stylesheets '@OCPlatformBundle/Resources/public/css/main.css' %}
        {# Il faut charger les librairies css, dans la balise stylesheets#}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block javascripts %}
       {# Il faut charger les librairies jQ, dans la balise javascripts#}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% endblock %}
</head>
<body>

{% block body %}
    <div id="monid">
            {% for advert in listAdverts %}
                <p>Titre: {{ advert.title }}</p>
                <p class="accordion">Auteur : {{ advert.author }} </br>
                {{ advert.content }}</br>
                    {{ advert.date | date('d/m/Y h:i:s') }}</p>

            {% endfor %}
    </div>
    <div id="dialog" title="Basic dialog">
        <p>This is an animated dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>

    <button id="opener">Open Dialog</button>
{% endblock %}
    <script>
        $( function() {
            $( "#monid" ).accordion();
        } );
    </script>
    <script>
        $( function() {
            $( "#dialog" ).dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $( "#opener" ).on( "click", function() {
                $( "#dialog" ).dialog( "open" );
            });
        } );
    </script>
</body>
</html>
